extends layout.pug
block content
    h2 Update:: !{book.title}
    form(action=`/books/${book.id}?_method=PUT` method="POST")
        p
            label(for="title")
            input(type="text" name="title" id="title" value=`${book.title}`)
        p
            label(for="author")
            input(type="text" name="author" id="author" value=`${book.author}`)
        p
            label(for="genre")
            input(type="text" name="genre" id="genre" value=`${book.genre}`)
        p
            label(for="year")
            input(type="text" name="year" id="year" value=`${book.year}`)
        p
            input(type="submit" value="Update Book")
    p
        input(type="submit" value="Cancel")
    p
        form(action=`/books/${book.id}?_method=DELETE` method="POST")
            input(type="submit" value="Delete Book")