extends layout.pug
block content

    p
        a(href="/new_book").button Create a new Book
    table
        thead
            th Title
            th Author
            th Genre
            th Year
        tbody
            each book in books
                tr
                    td
                        a(href=`/book/${book.id}`) #{book.title}
                        //- a(href="`/book/${book.id}`")#{book.title}
                    td #{book.author}
                    td #{book.genre}
                    td #{book.year}